body {
  font-family: "Comfortaa", cursive;
  color: #3b3a36;
  /*background: CornSilk;*/
  background: #e9ece5;
}

#main {
  text-align: center;
}

#img-caption {
  font-family: sans-serif;
  /*font-size: 14px;*/
}

#image {
  display: block;
  border-radius: 5px;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 1016px;
  max-height: 571.5px;
}

#tribute-info {
  min-width: 270px;
  margin: auto;
  text-align: left;
  /*background: DimGrey;*/
  /*color: white;*/
  background: #3b3a36;
  color: #e9ece5;
  border-radius: 5px;
  width: 75%;
  line-height: 2;
}

#tribute-info  p {
  padding-left: 16px;
  padding-right: 16px;
}

#tribute-info p:first-child {
  padding-top: 16px;
}

#tribute-info p:last-child {
  padding-bottom: 16px;
}
